<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="epcrPortalApp" ng-cloak ng-controller="AuthCtrl">
      <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ui-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">FireMedPro</a>
          </div>
          <div class="collapse navbar-collapse navbar-ui-collapse">
              <ul class="nav navbar-nav navbar-right" ng-show="auth.isLoggedIn()">
                  <li class="dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-user"> {{ currentUser.email }}</span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#" ng-click="auth.logout()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" ng-hide="auth.isLoggedIn()">
                  <li>
                      <a href="" ng-click="showSignIn()"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                  </li>
              </ul>
          </div>
      </nav>

  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!--<div class="navbar navbar-top">-->
        <!--<div class="navbar-inner">-->
            <!--<div class="container">-->
                <!--<a class="brand" href="/">FireMed Pro</a>-->
            <!--</div>-->
            <!--<div class="container" ng-show="currentUser">-->
                <!--<p>Logged in as {{currentUser.username}} / {{currentUser.organizationCode}} <a href="" ng-click="logout()">Sign Me Out!</a></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container" ng-view></div>

      <!-- sign in modal -->
      <div id="signInModal" class="modal fade" role="modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3><span class="glyphicon glyphicon-log-in"></span> Sign In</h3>
                  </div>
                  <div class="modal-body">
                      <form name="loginForm" class="form">
                          <div class="form-group" ng-class="{'has-error': loginForm.username.$error.email, 'has-success': loginForm.username.$valid }">
                              <label class="sr-only" for="username">Email</label>
                              <div class="alert alert-danger" ng-show="loginForm.username.$error.email">
                                  <p><span class="glyphicon glyphicon-exclamation-sign"></span> You must enter a valid email address!</p>
                              </div>
                              <div class="input-group">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                  <input type="email" class="form-control" id="username" name="username" ng-required="true" ng-model="user.email" placeholder="Email" autofocus="autofocus"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="sr-only" for="password">Password</label>
                              <div class="input-group">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                  <input type="password" class="form-control" id="password" ng-required="true" ng-model="user.password" placeholder="Password"/>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="auth.login(user)">Sign In</button>
                  </div>
              </div>
          </div>
      </div>

      <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="bower_components/angular-hawk/index.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/crypto-js/rollups/hmac-sha256.js"></script>
    <script src="bower_components/crypto-js/components/enc-base64-min.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/uri.js/src/URI.js"></script>
    <!--<script src="components/angular-resource/angular-resource.js"></script>-->

    <!-- build:js(app) scripts/envConfig.js -->
    <script src="scripts/services/config.js"></script>
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/scripts.js -->
    <script src="scripts/services/AuthModule.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/IncidentController.js"></script>
    <script src="scripts/services/Incidents.js"></script>
    <script src="scripts/services/Users.js"></script>
    <script src="scripts/controllers/AuthController.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
